.bg-con {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  padding: 20px;
}

.heading {
  color: #252627;
  font-size: 35px;
}

.items-con {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
